.box{            
         
    height: auto;          
    width: 1100px;                  
    padding: 50px;                 
    background-color: #f9f9f9;      
    border: 1px solid #ddd;        
    border-radius: 18px;            
    margin: 20px auto;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;     
}

.Searchbar {
    margin-left: auto;
    justify-content: space-between;         
}

input{
    background-color: transparent;
    border:none;
    height: 100%;
    width: 20%;
    font-size: 50rem;
}

input:focus{
    outline: none;
}

h2{
    font-size: 1.5rem;
    width:380px
}

.large-icon {
    font-size: 35px;
    margin-right: 9px;
}

button {
    margin: 0px 10px;
    font-size: 15px;
    padding: 5px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 10px
}

button:hover{
    background-color: #007bff;
    color:black;
}

.college {
    padding: 20px;
    border: 1px solid #ccc; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    flex: 1; 
    margin: 10px; 
    text-align: center; 
    
}

.college img {
    max-width: 100%;
    height: auto;
}

.box, .college {
    
    max-width: 100%;
    padding: 10px; 
}
